*.o
*.so
*.pyc

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

prepare/de/*
prepare/en/*
prepare/es/*
prepare/fr/*
prepare/it/*
prepare/ja/*
prepare/nl/*
prepare/pl/*
prepare/ru/*
prepare/zh-hans/*
prepare/zh-hant/*
prepare/zh-yue/*


